body{
  background-color: rgb(219, 214, 214);
}

.todayImg{
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  align-items: center;
}

.todayH1{
  position: absolute;
  font-size: 2rem;
  left: 50%;
  transform: translate(-50%, -48%);
}

.today{
  position: absolute;
  font-size: 1.3rem;
  font-weight: 600;
  left: 50%;
  transform: translate(-50%, 90%);
}